.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 60%;
  height: 40px;
  outline-style: none;
  text-indent: 5px;
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.video-item img {
  max-width: 120px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
}

.video-detail .details .details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
